
.main-blue, .main-blue:focus {
    background-color: var(--main-blue);
    border: 1px solid var(--main-blue);
}

.main-blue:hover, .main-blue:active {
    background-color: #142a57;
    border: 1px solid #093571;
}

.fa-icon-red:hover, .fa-icon-red:active {
    color: var(--main-blue);
}