@import "components/heading.css";
@import "components/chatbot.css";
@import "components/survey.css";
@import "common.css";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg-color);
}

h2, h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.btn-fixed {
    height: 38px;
    width: 125px;
}

.btn-link {
    text-decoration: none;
}

.lower-font {
    font-size: 90%;
}

.ml-64 {
    margin-left: 64px;
}

.mr-1-em {
    margin-right: 1em;
}

.ml-5-px {
    margin-left: 5px;
}

.ml-10-px {
    margin-left: 10px;
}


.ml-15-px {
    margin-left: 15px;
}

.ml-20-px {
    margin-left: 20px;
}

.mr-25-px {
    margin-right: 25px;
}

.main-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.w-125 {
    width: 125px;
}

.w-115 {
    width: 115px;
}


.w-150 {
    width: 150px;
}

.w-175 {
    width: 175px;
}

.w-205 {
    width: 205px;
}

.w-85 {
    width: 85% !important;
}

.alert-window {
    position: absolute;
    right: 15px;
    bottom: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.secondary-text {
    color: var(--secondary-text);
}

.truncated {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}

.custom-label {
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.user-icon {
    font-size: 0.8em;
    margin-top: 5px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;  /* Stack video and data section on mobile */
        align-items: center;
    }

    .overlay-canvas {
        width: 100%;
        height: auto;
    }
}