:root {
    --main-gray: #606f89;
    --main-bg-color: #f6f2f2;
    --secondary-bg-color: rgba(6, 19, 48, 0.85);
    --main-blue: #1f409e;
    --primary-text: #15141A;
    --secondary-text: rgba(255, 255, 255, 0.93);
}
