:root {
    --main-gray: #606f89;
    --main-bg-color: #f6f2f2;
    --secondary-bg-color: rgba(28, 27, 33, 0.85);
    --main-red: #e44745;
    --primary-text: #15141A;
    --secondary-text: rgba(255, 255, 255, 0.93);
}
