@import "../variables.css";

.heading-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.11);
}

.heading-label {
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #ffa500, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 15px;
}

.page-logo {
    margin-left: 10px;
}

.email-avatar {
    border-radius: 50%;
    background-color: var(--main-gray);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    margin-bottom: 6px;
}

.email-large-avatar {
    border-radius: 50%;
    background-color: var(--main-gray);
    cursor: pointer;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 64px;
    margin-bottom: 10px;
    width: 96px;
    height: 96px;
}

@media (max-width: 768px) {
    .page-logo {
        margin-left: 0;
    }
}
