.survey-form-container {
    width: 80%;
}

.survey-form {
    min-width: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.11);
}

.survey-form-group {
    display: flex;
    flex-direction: column;
}

.survey-button {
    align-self: center;
    margin: 0 10px;
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

input[type=radio] {
    transform: scale(0.85);
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .survey-form-container {
        width: 95%;
    }
    .survey-form {
        padding: 25px;
        min-width: 0;
    }
    .pagination-buttons {
        flex-direction: row;
    }
}