.survey-form-container {
    width: 80%;
}

.survey-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.11);
}

.survey-form-group {
    display: flex;
    flex-direction: row;
}

.survey-button {
    align-self: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .survey-form-container {
        width: 95%;
    }
    .survey-form {
        padding: 25px;
    }
    .survey-form-group {
        flex-direction: column;
    }
}